body { 
    height: 100vh;
    width: 100%;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

#parallax, #parallax1, #parallax2, #parallax3 {
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax {
    background-image: url("./resources/images/landing.jpg");
    height: 150%;
}

#parallax1 {
    background-image: url("./resources/images/landing1.jpg");
    height: 50%;
}

#parallax2 {
    background-image: url("./resources/images/landing2.jpg");
    height: 50%;   
}

#parallax3 {
    background-image: url("./resources/images/landing3.jpg");
    height: 50%;   
}
#greeting-container {
    margin-top: 20px;
}

.navbar-nav {
    flex-direction: row;
}

.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

.quotes, .hobby, .pets, .connect {
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.border {
    border: none !important;
    color: #fff;
    padding: 15px;
    font-size: 25px;
    letter-spacing: 10px;
}

#aboutMeDiv, #timelapseDiv, #picturesDiv, #connectDiv {
    text-align: center;
    padding: 40px;
}