body { 
  height: 100vh;
  width: 100%;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#background-image-0,
#background-image-1,
#background-image-2,
#background-image-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

#background-image-0 {
  background-image: url(./resources/images/landing0.jpg);
  height: 150%;
}

#background-image-1 {
  background-image: url(./resources/images/landing1.jpg);
  height: 50%;
}

#background-image-2 {
  background-image: url(./resources/images/landing2.jpg);
  height: 50%;   
}

#background-image-3 {
  background-image: url(./resources/images/landing3.jpg);
  height: 50%;   
}

#greeting-container {
  margin-top: 20px;
}

.navbar-nav {
  flex-direction: row;
}

.nav-link {
  padding-left: .5rem !important;
  padding-right: .5rem !important;
}

#quote,
#author {
  display: block;
}

.scroll-down {
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: scroll_down;
  position: absolute;
  left: 0;
  text-align: center;
  top: 10%;
  width: 100%;
}

@keyframes scroll_down {
  0% {
    margin-top:0px;
  }
  25% {
    margin-top:5px;
  }
  50% {
    margin-top: 10px;
  }
  75% {
    margin-top:5px;
  }
  100% {
    margin-top:0px;
  }
}

.quotes,
.hobby,
.pets,
.connect {
  color: #000;
  left: 0;
  opacity: .8;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.border {
  border: none !important;
  color: #fff;
  font-size: 25px;
  letter-spacing: 10px;
  padding: 15px;
}

#about-me,
#timelapse,
#pictures,
#connect {
  padding: 40px;
  text-align: center;
}

.carousel-inner img,
.carousel-inner video {
  height: 500px;
}

.container {
  margin-top: 20px;
}
